header {
    height: 40px;
    width: 100%;
    background: white;
}


 hvhjh {
    background: blue;
    width: 400px;
    height: 100px;
    float: right;
}
header img {
    float: left;
    padding-top: 20px;
    padding-left: 172px;
    padding-bottom: 0px;
}

header ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    margin-right: 150px;
}
header li {
    float: right;
}
header li a{
    display: block;
    float: right;
    padding-top: 35px;
    padding-right: 10px; 
    padding-bottom: 0px;
    text-decoration: none; 
    color: black;
}


#banner {
    background: rgb(0, 68, 255);
    width: 100%;
    height: 380px;
}
.container {
    width: 100%;
    height: 100%;
    background: rgb(0, 68, 255);
    
}
.image {
    float: right;
    padding-right: 80px;
}
h1 {
    font-weight: bolder;
    font-size: 60px;
    color: white;
    font-family:    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 100px;
    padding-left: 100px;
}
.name {
    height: 380px;
    width: 600px;
    background-color:  rgb(0, 68, 255);
}

.button {
    height: 50px;
    width: 500px;
    border-radius: 20px;
    border: none;
    background-color:white;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: blue;
}


#content {
    width: 100%;
    height: 450px;
    background-color: white;
}

.flex-container {
    display: flex;
}
.flex-container > div{
    margin: 10px;
    padding: 20px;
    flex: 0 0 500px;
    height: 400px;
    width:width;
}
p{
    font-weight: bold;
    font-size: 24px;
}
.youtube {
    margin-top: -10px;
    padding-bottom: 10px;
}

input[type=email] { 
    -webkit-border-radius: 5px;
    border: none; 
    height: 30px;
    width: 200px
}

   

input[type=submit] {
    height: 40px;
    width: 90px; 
    background: blue;
    color: white;
    border-radius: 1px;
}

ul {
    list-style-type: none;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

footer {
    background-color:rgb(195, 205, 207);
    width: 100%;
    height: 250px;
}

.container4 {
    display: flex;
    height: 100%;
    width: 100%;
    
}

.container4 > div{
    margin: 10px;
    padding: 15px 80px;
    flex: 0px 0px 300px;
    height: 100px;
    width: auto;
}